# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

out/
build
dist

# misc
.vscode
.DS_Store
*.pem
.cache

cache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


.nyc_output

.babelrc